.pingblock{
    min-width: 300px;
    margin:0 20px 20px 0;
    float:left;
}
.pingblock__item{
    padding:20px;
    width: calc(100% - 40px);
    float:left;
    transform: scale(1);
}
.status--green{
    background-color: #28b02d;
    color: #fff;
}
.status--red{
    background-color: #bf2424;
    color: #fff;
}
.togo__bar{
    width: 100%;
    height: 4px;
    float: left;
    position: relative;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.3);
}
.togo__bar span{
    width: 100%;
    height: 4px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    animation-name: togobar;
    /*animation-iteration-count: infinite;*/
    animation-duration: 60s;
}
@keyframes togobar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}